* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 80%;
  margin: 0 auto;
}
/*menu*/

header {
  display: flex;
}

.menu {
  display: flex;
  list-style: none;
}

.logo {
  margin-inline-end: auto;
}
/*forside*/
h1 {
  margin-top: 100px;
}
.category_list_container {
  display: grid;
  text-align: center;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}
.category_list_container a {
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
  color: black;
  padding: 10px;
  border: 1px solid black;
}
.category_list_container a:hover {
  font-weight: 800;
}

@media (min-width: 800px) {
  .category_list_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
